{#{% set currentPath = app.request.attributes.get('_route') %}#}

<aside>
<nav id="sidebar" class="">
    <div class="sidebar-header">
        <span class="fs-2 p-2">MENU</span>
    </div>
    <ul class="list-unstyled components4 mt-1 ms-2">
        <li>
            <a href="{{ path('admin_dashboard') }}" class="{{- is_active_route('admin_dashboard') -}}">
                <twig:ux:icon name='bi:house' class="bi"/> {{ 'Dashboard' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_user_crud_index') }}" class="{{- is_active_route('admin_user_crud_index') -}}">
                <twig:ux:icon name='bi:people' class="bi"/> {{ 'Users' | trans }}</a>
        </li>
        {#<li>
            <a href="forms.html"><i class="bi bi-file-earmark-text"></i> Forms</a>
        </li>#}
        <li>
            <a href="#variantsmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <twig:ux:icon name='bi:gear' class="bi"/> {{ 'Variants' | trans }}
            </a>
            <ul class="collapse list-unstyled" id="variantsmenu">
                <li>
                    <a href="{{ path('admin_ticket_variant_crud_index') }}">
                        <twig:ux:icon name='bi:caret-right' class="bi"/> {{ 'Ticket variants' | trans }}
                    </a>
                </li>
                <li>
                    <a href="">
                        <twig:ux:icon name='bi:caret-right' class="bi"/> {{ 'Ticket services' | trans }}
                    </a>
                </li>
                {#<li>
                    <a href="">
                        <twig:ux:icon name='bi:caret-right' class="bi"/> {{ '' | trans }}
                    </a>
                </li>#}
            </ul>
        </li>
        {#<li>
            <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="bi bi-shield"></i> Authentication</a>
            <ul class="collapse list-unstyled" id="authmenu">
                <li>
                    <a href="login.html"><i class="bi bi-lock"></i> Login</a>
                </li>
                <li>
                    <a href="signup.html"><i class="bi bi-person-add"></i> Signup</a>
                </li>
                <li>
                    <a href="forgot-password.html"><i class="bi bi-person-lock"></i> Forgot password</a>
                </li>
            </ul>
        </li>#}

    </ul>
</nav>
</aside>