{# @var item App\Dto\MenuItem #}
{# @var sub_item App\Dto\MenuItem #}
{% macro render_menu(item, currentPath) %}
    {% if item.type == constant('App\\Dto\\MenuItem::TYPE_SECTION') %}
    <li class="border-bottom">
        {% if item.label is not null %}<span class="ms-4 text-secondary text-uppercase">{{ item.label | trans }}</span>{% endif %}
    </li>
    {% elseif item.type == constant('App\\Dto\\MenuItem::TYPE_SUBMENU') %}
    <li>
        <a href="#{{ item.label }}-menu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <twig:ux:icon name='bi:gear' class="bi"/> {{ item.label | trans }}
        </a>
        <ul class="collapse list-unstyled" id="{{ item.label }}-menu">
            {% for sub_item in item.subItems %}
            <li>
                <a href="{{ sub_item.routeName ? path(sub_item.routeName, sub_item.routeParameters) : '#' }}" class="{{- currentPath == sub_item.routeName ? 'active' : '' -}}">
                    <twig:ux:icon name="{{ item.icon ?: 'bi:caret-right' }}" class="bi me-2"/> {{ sub_item.label | trans }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li>
        <a href="{{ item.routeName ? path(item.routeName, item.routeParameters) : '#' }}" class="{{- currentPath == item.routeName ? 'active' : '' -}}">
            <twig:ux:icon name="{{ item.icon ?: 'bi:caret-right' }}" class="bi"/> {{ item.label | trans }}
        </a>
    </li>
    {% endif %}
{% endmacro %}

<ul class="list-unstyled components4 mt-1 ms-2">
{% for item in menu.items %}
    {% if item.permission is defined and item.permission is not null %}
        {% if is_granted(item.permission) %}
        {{ _self.render_menu(item, currentPath) }}
        {% endif %}
    {% else %}
        {{ _self.render_menu(item, currentPath) }}
    {% endif %}
{% endfor %}
</ul>