{# @LightAdminBundle/_layout.html.twig #}
<!DOCTYPE html>
<html lang="{%- block htmlLang -%}{{ app.request.locale|split('_')[0] }}{%- endblock -%}" class="{%- block html_class -%}h-100{%- endblock -%}" data-bs-theme="{%- block html_theme -%}dark{%- endblock -%}">
    <head>
        <base href="./">
        {%- block head_metas -%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {%- endblock -%}

        {%- block meta_theme -%}
        <meta name="theme-color" content="#f0f0f0">
        {%- endblock -%}

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block head_favicon %}
        {{ include('@LightAdminBundle/_partials/favicons.html.twig') }}
        {% endblock %}
        
        {% block head_fonts %}
        {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>#}
        {% endblock %}
        
        {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('styles/app.css')}}" >
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css')}}" >#}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('admin') }}{% endblock %}
        {% endblock %}
        <!-- Page rendered on {{ 'now'|date('Y-m-d H:i:s', "Europe/Helsinki") }} -->
    </head>
{% block dom %}
<body id="{%- block body_id -%}light_admin{%- endblock -%}" class="{%- block body_class -%}d-flex flex-column h-100{%- endblock -%}">
{{ include('@LightAdminBundle/_partials/theme_switch.html.twig') }}
    <div class="wrapper">
        {{ include('@LightAdminBundle/_partials/sidebar.html.twig') }}
        <div id="wrapper-content">
            {{ include('@LightAdminBundle/_partials/navbar.html.twig') }}
            <div class="content">
                <div class="container-fluid m-1">
                    {{ include('@LightAdminBundle/_partials/flash_messages.html.twig') }}
                    <div class="row">
                        <div class="col-md-12 page-header">
                            {% if page_pretitle is defined %}
                            <div class="page-pretitle capitalize">{{ page_pretitle | trans }}</div>
                            {% endif %}
                            <h2 class="page-title">{{ (page_title is defined ? page_title : 'Blank page' ) | trans }}</h2>
                        </div>
                    </div>
                    <main>
                    {% block body %}{% endblock %}
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
